[submodule "booksim2"]
	path = booksim2
	url = https://github.com/wntjd9805/hetero-neurosim-search_booksim2.git
[submodule "cross-sim"]
	path = cross-sim
	url = https://github.com/wntjd9805/navcim_cross-sim.git
[submodule "tvm"]
	path = tvm
	url = https://github.com/apache/tvm
[submodule "TOPSIS-Python"]
	path = TOPSIS-Python
	url = https://github.com/wntjd9805/navcim_topsis.git
